NEXT_PUBLIC_SUPABASE_URL=https://zfuknwgxldlpcigsoqgp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmdWtud2d4bGRscGNpZ3NvcWdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxOTE5NzcsImV4cCI6MjA5MDc2Nzk3N30.lSOiiASLtSwmUBoJraxLkXiEn7_Gtub0QSMj3puXCrA

